/* || general styles */

html {


}

body {
  width: 1280px;
  margin: 0 auto;
  background-image:url("img/fondo2.jpg");


}

h1, h2 {
  font-family:fantasy ;


}

/* header styles */

h1 {
  font-size: 4.5rem;
  text-align: center;
  color: rgb(105, 105, 105);
  font-family: lucida console;
   text-decoration: underline;


}

h3{
color:rgb(52, 217, 79);
  font-size: 3rem;
  text-align: center;
  font-family: monospace;
  text-indent: 100px;

}

header p {
  font-size: 1.3rem;
  font-weight:bold;
  text-align: center;
  color:rgb(255, 48, 91);
}

/* section styles */

section article {
  width: 33%;
  float: left;
  color:white;
  font-size: 3rem;
  text-align: center;
  font-weight:bold;
  font-family: monospace;

}

section p {
  margin: 50px 0;
  color: white;
  font-size: 2rem;

}

section ul {
  margin-top: 0;
}
img {
  width: 300px;
  height: 200px;
}
